<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Actuator Rod Counterweight</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>
      <a href="knex-i-comp.html">KNEX-I-COMP</a>
      <a href="Components.html">Components:</a>
      Actuator Rod Counterweight
    </h1>

    <p>
      There is one <i>actuator rod counterweight</i> for each
      <actuator rod</i>.  The actuator rod counterweight assembly
      includes the counterweight itself, and the mounting for the
      counterweight.  The mounting for the counterweight also serves
      to keep the horizontal struts of the framework from rotating
      in-place.
    </p>

    <p>
      A piece of monofiliment line is anchored to the top of the
      counterweight rod by an orange clip.  The monofilament is
      threaded through the two gray (arity 1) connectors at the top of
      the assembly.  A bowline is tied at the other end to form a loop
      which is looped around the white strut at the top of the
      corresponding <i>actuator rod</i> just below the gray pulley.

    <img 
	src="ActuatorCWeight.jpg"
	width=259
	height=565
	alt="Image of the actuator rod counterweight"
	>

    <img 
	src="ActuatorCWeight-2.jpg"
	width=640
	height=480
	alt="Image of the actuator rod counterweight"
	>


    <div>
      <object data="../../common-footer.html">
        common-footer.html could not be included.
      </object>
    </div>
  </body>
</html>
