<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Bit Assembly</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>
      <a href="knex-i-comp.html">KNEX-I-COMP</a>
      <a href="Components.html">Components:</a>
      Bit Assembly
    </h1>

    <p>
      The bit assembly is analogous to the Digi-Comp I's
      <i>flip-flop</i>.  There is one bit assembly for each bit of
      state.
    </p>

    <p>
      In the knex (tm) model, each bit is implemented by an assembly
      of gray struts and yellow (arity 5) connectors.  The assembly is
      hung from an inverted pendulum formed from a pair of arms
      constructed from two gray (arity 1) connectors coupled together
      by a green strut. The inverted pendulum ensures that the bit
      assembly will rest in either of the two extreme positions of its
      motion and is not stable anywhere in between.  This provides
      hysteresis, which is necessary in all digital logic systems.
    </p>


    <img
      src="BitAssembly-2.jpg"
      width=480
      height=640
      alt="inverted pendulum of bit assembly, end view"
      >

    <img
      src="BitAssembly-1.jpg"
      width=640
      height=480
      alt="inverted pendulum of bit assembly, top view"
      >

    <p>
      Each of the pictures above shows one inverted pendulum (viewed
      from above) of a bit asembly.  The yellow strut is the part of
      the 
      <a href="BitFrame.html"><i>bitframe</i></a>
      on which the pendulum is anchored.
    </p>

    <p>
      The yellow (arity 5) connectors which are parallel to the yellow
      mounting strut, in addition to holding gray struts of the bit
      assembly together, also serve to stop the inverted pendulum from
      swinging too far to either side.  That is why they are slid up
      against the inverted pendulum assembly instead of being anywhere
      along the bit assembly.
    </p>

    <p>
      The <a href="ProgrammingHardware.html"><i>programming
      hardware</i></a> is mounted on the bit assembly.  Each bit
      assembly has one set of programming hardware for each control
      stage.
    </p>

    <p>
      The <a href="BitStateIndicator.html"><i>bit state
      indicator</i></a> is attatched at one end of the bit assembly,
      in such a way that they are obstructed by the <a
      href="BitStateMask.html"><i>bit state mask</i></a>
    </p>

    <img
      src="BitAssembly-exploded.jpg"
      width=538
      height=250
      alt="exploded view of a bit assembly"
      >


    <div>
      <object data="../../common-footer.html">
        common-footer.html could not be included.
      </object>
    </div>
  </body>
</html>
