<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Bit Frame</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>
      <a href="knex-i-comp.html">KNEX-I-COMP</a>
      <a href="Components.html">Components:</a>
      Bit Frame
    </h1>

    <p>
      The bit frame is the structure on which all of the logic
      elements, are mounted.  There is one of these structures for
      each control stage (connected horizontally) and one for each bit
      (connected vertically.  Bit frames comprise a substantial
      portion of the structure of the knex-i-comp.
    </p>

    <img
      src="BitFrame.jpg"
      width=640
      height=480
      alt="picture of a bitframe"
      >

    <p>
      The upright blue struts connect up the the next level.
    </p>

    <p>
      For multiple control stages, the bit frames connect end-to-end
      with each bit frame sharing the blue and purple connectors at
      their corners with their neighbors.
    </p>

    <p>
      The upright white struts serve as the hinge pins on which the 
      <a href="ActuatorRod.html"><i>actuator rod</i></a>s swing.
    </p>



    <div>
      <object data="../../common-footer.html">
        common-footer.html could not be included.
      </object>
    </div>
  </body>
</html>
