<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Components and Subassemblies</title>
  </head>

  <body>
    <h1>
      <a href="knex-i-comp.html">KNEX-I-COMP:</a>
      Components and Subassemblies
    </h1>

    <p>
      Here follow brief descriptions of all of the components and
      subasssemblies of the knex-i-comp model.
    </p>

    <dl>

      <dt><a href="BitFrame.html">Bit Frame</a></dt>
      <dd>The bit frame is a major structural component of the knex-i-comp.
	There is one bit frame for each control stage and each state bit.
      </dd>

      <dt><a href="ActuatorRod.html">Actuator Rod</a></dt>
      <dd>analogous to the Digi-Comp I's <i>logic rods</i>.
      </dd>

      <dt><a href="SenseRod.html">Sense Rod</a></dt>
      <dd>analogous to the Digi-Comp I's <i>clock rods</i>.
      </dd>

      <dt><a href="BitAssembly.html">Bit Assembly</a> </dt>
      <dd>analogous to the Digi-Comp I's <i>flip-flops</i>.
      </dd>

      <dt><a href="ProgrammingHardware.html">Programming Hardware</a></dt> 
      <dd>
	Attatched to the bit assembly, the thing that
	the yellow struts that the actuator rods engage with mount on.
	each bit assembly, there is one of these for each actuator
	rod.
	The thing that the sense rods engage with, composed of two red connectors 
	and a green strut.
	There are two of these on each bit assembly for each sense rod.
      </dd>

      <dt>Control/Actuator Linkage</dt>
      <dd>
      </dd>

      <dt>Sense Rod Weight</dt>
      <dd>
      </dd>

      <dt><a href="ActuatorCWeight.html">Actuator Rod Counterweight</a></dt>
      <dd>
	There is one actuator rod counterweight for each actuator rod
	assembly.  The counterweight serves to pull the actuator rod
	back to its normal position and hold it there.
      </dd>

      <dt><a href="BitStateIndicator.html">Bit State Indicator</a></dt>
      <dd>One mounted on the end of each bit assembly.
	Obstructed by the Bit State Mask when the bit is in the zero state, 
	partially visible when the bit is in the one state.
      </dd>

      <dt><a href="BitStateMask.html">Bit State Mask</a></dt>
      <dd>one per bit assembly.  Mounted on the bit frame.
      </dd>

      <dt>Sense Rod Lifter</dt>
      <dd>
      </dd>

      <dt>Sense Rod Lifter Linkage</dt>
      <dd>So that the user can lower the sense rods (by lowering the sense rod 
	lifter) from the front of the machine.
      </dd>

      <dt>actuator back-block</dt>
      <dd>
      </dd>

      <dt>actuator rod driver</dt>
      <dd>
      </dd>

      <dt>actuator rod driver linkage</dt>
      <dd>so that the user can move all of the actuator rod drivers at once.
      </dd>

      <dt>backblock latch</dt>
      <dd>
      </dd>

      <dt>backblock release</dt>
      <dd>
      </dd>

      <dt>backblock lifter</dt>
      <dd>
      </dd>


    </dl>



    <object data="../../../common-footer.html">
      common-footer.html could not be included.
    </object>
  </body>
</html>
